$ruler: 16px;
$color-red: #686ed0;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;


.body, p, input, select, textarea, button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: $ruler;
}

.header{
  border-radius: $ruler $ruler $ruler $ruler;
  box-shadow:
    -8px -4px 8px 0px $color-white,
    8px 4px 12px 0px $color-shadow;
}

.header a {
  text-shadow: 1px 1px 1px $color-white;
  float: left;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 15px;
  line-height: 5px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 20px;
  font-weight: bold;
}

.header a.active {
  color: $color-red;
}

.header-right {
  float: right;
}

.header-right:hover {
  color: $color-red;
}

.body {
  min-height: 100%;
  height: auto;
  background-color:$color-bg;
}

h1{
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

div, p {
  color: $color-shadow;
  text-shadow: 1px 1px 1px $color-white;
}

.container{
  display: flex;
  flex-direction: column;
  height: auto;
}

textarea, button, input{
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler*20;
  padding: $ruler;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;
}

form{
  align-self: center;
  border-radius: 0 0 $ruler $ruler;
  padding: $ruler ;
  width: 40%;
  min-height: 60%;
  display: grid;
  box-shadow:
    -8px 0px 8px 0px $color-white,
    8px 4px 12px 0px $color-shadow;
  &.description{
    height: 50%;
  }
}

label {
  display: block;
  margin-bottom: $ruler*1.5;
  width: 100%;
}

textarea, input {
  margin-right: $ruler/2;
  box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}

.inputFile{
  display: none;
}

.label-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 40px;
  border-radius: $ruler*20;
  color: $color-red;
  box-shadow: -5px -5px 20px $color-white,
  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }
  &:hover .text{
    color: $color-red;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }

  button:hover &{
    color: $color-red;
  }
}

button {
  color: #61677C;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }

  .icon {
    margin-right: $ruler/2;
  }
}

.description{
  width: 100%;
  height: 300px;
  border-radius: $ruler*2;
}

.control{
  margin-top: $ruler;
  justify-content: center;
  display: flex;
  flex-direction: row;
}


  .images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;

    .image-title-wrap {
      padding: $ruler*0.5;
      max-height: 200px;
      max-width: 200px;

      &:hover .deselect-picture{
        position: absolute;
        display: block;
        padding: $ruler*0.5;
        max-height: 200px;
        max-width: 200px;

      }
    }

    .deselect-picture{
      display: none;
    }
  }
